<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    <style>
      .display-none {
        display: none !important;
      }

      .product__description__variant {
        display: none;
      }

      .section--shipping-method .content-box__small-text {
        border: 0 ;
        clip: rect(0,0,0,0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      .section--shipping-method .content-box__small-text + br {
        display: none;
      }
      {% if settings.checkout_link_color != blank %}
        a, .link {
          color: {{settings.checkout_link_color}};
        }
        a:hover, .link:hover {
          color: {{settings.checkout_link_color}};
        }
        .btn, .sp-modal-toggle {
          background-color: {{settings.checkout_link_color}};
        }
        .btn:hover, .sp-modal-toggle:hover {
          background-color: {{settings.checkout_link_color}};
        }
        .btn--subdued {
          color: #FFFFFF;
        }
        .input-checkbox:checked, .input-radio:checked {
          -webkit-box-shadow: 0 0 0 10px {{settings.checkout_link_color}} inset;
          box-shadow: 0 0 0 10px {{settings.checkout_link_color}} inset;
        }
        .input-checkbox:checked:focus, .input-radio:checked:focus {
          border-color: {{settings.checkout_link_color}};
        }
        .icon-svg--color-accent {
          color: {{settings.checkout_link_color}};
        }
        .step__footer__previous-link:hover .previous-link__icon {
          fill: {{settings.checkout_link_color}};
        }
      {% endif %}
      {% if settings.checkout_background_image != blank %}
        .no-js .sidebar,.no-generatedcontent .sidebar, .sidebar::after {
          background-image: url({{ settings.checkout_background_image | img_url: 'master' }});
        }
      {% endif %}
    </style>
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {%- unless content_for_logo contains '<a' -%}
          <a href="{{ routes.cart_url }}" title="{{ 'layout.checkout.back_to_cart' | t }}">
        {%- endunless -%}
        {{ content_for_logo }}
        {%- unless content_for_logo contains '<a' -%}
          </a>
        {%- endunless -%}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {%- unless content_for_logo contains '<a' -%}
              <a href="{{ routes.cart_url }}" title="{{ 'layout.checkout.back_to_cart' | t }}">
            {%- endunless -%}
            {{ content_for_logo }}
            {%- unless content_for_logo contains '<a' -%}
              </a>
            {%- endunless -%}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {%- unless content_for_logo contains '<a' -%}
              <a href="{{ routes.cart_url }}" title="{{ 'layout.checkout.back_to_cart' | t }}">
            {%- endunless -%}
            {{ content_for_logo }}
            {%- unless content_for_logo contains '<a' -%}
              </a>
            {%- endunless -%}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
    <script>
      const hideShippingMethods = function () {
        const deliveryType = window.localStorage.getItem('delivery_type');
        const labels = [].slice.call(document.getElementsByClassName('radio__label__primary'));
        for (let i = 0; i < labels.length; i++) {
          const label = labels[i].innerHTML.trim();
          let hide = false;

          if (deliveryType === 'pickup' && label.indexOf('ick') < 0) {
            hide = true;
          } else if (deliveryType !== 'pickup' && label.indexOf('ick') > -1) {
            hide = true;
          }

          if (hide === true) {
            const container = labels[i].parentNode.parentNode.parentNode;
            const input = container.getElementsByClassName('input-radio');
            container.classList.add('display-none');
            input[0].checked = false;
          }
        }
      };

      const fillStorageAddress = function () {
        if (
          window.localStorage.getItem('delivery_address') === null ||
          window.localStorage.getItem('delivery_address') === '' ||
          window.localStorage.getItem('delivery_method') === null ||
          window.localStorage.getItem('delivery_method') === 'pickup'
        ) {
          return;
        }

        const parts = (window.localStorage.getItem('delivery_address')).split(', ');
        if (parts.length < 1) {
          return;
        }

        const elementIds = ['address_address1', 'address_city', 'address_province'];
        const checkoutType = document.getElementById('checkout_shipping_address_address1') ? 'shipping' : 'billing';
        for (let i = 0; i < elementIds.length; i++) {
          if (typeof parts[i] !== 'undefined') {
            const element = document.getElementById('checkout_' + checkoutType + '_' + elementIds[i]);
            element.value = parts[i];
            element.readOnly = true;
          }
        }

        if (
          window.localStorage.getItem('delivery_zipcode') !== null &&
          window.localStorage.getItem('delivery_zipcode') !== ''
        ) {
          document.getElementById('checkout_' + checkoutType + '_address_zip').value = window.localStorage.getItem('delivery_zipcode');
        }
      };

      if (
        Shopify.Checkout.step === 'shipping_method' &&
        window.localStorage.getItem('delivery_type') !== null
      ) {
        hideShippingMethods();
      } else if (Shopify.Checkout.step === 'contact_information') {
        setTimeout(function () {
          fillStorageAddress();
        }, 1000);
      }
    </script>
  </body>
</html>
