<!doctype html>
<html class="supports-no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('supports-no-js', 'supports-js');

    var theme = {
      mapStrings: {
        addressError: {{ 'homepage.map.address_error' | t | json }},
        addressNoResults: {{ 'homepage.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'homepage.map.address_query_limit_html' | t | json }},
        authError: {{ 'homepage.map.auth_error_html' | t | json }}
      }
    }
  </script>
  {%- assign use_pallet = false -%}
  {%- if template.name == 'product' and product.tags contains 'pallet' -%}
    {%- assign use_pallet = true -%}
  {%- endif -%}
  <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'header.scss.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'forms.scss.css' | asset_url }}">
  {%- if template.name == 'account' or template.name == 'order' or template.name == 'addresses' -%}
    <link rel="stylesheet" href="{{'account.scss.css' | asset_url}}">
  {%- endif -%}
  <link rel="preload" as="style" href="{{ 'site-footer.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- unless request.page_type == 'cart' -%}
    <link rel="preload" as="style" href="{{ 'sidebar-cart.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endunless -%}
  {%- if template.name == 'login' or template.name == 'register' -%}
    <link rel="preload" as="style" href="{{ 'sign-in-up.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  {%- if template.name == 'product' or template.name == 'collection' -%}
    <link rel="preload" as="style" href="{{ 'products-collections.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  {%- if template.name == 'product' -%}
    <link rel="preload" as="style" href="{{ 'tabs.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" href="{{ 'product.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  {%- if template.name == 'collection' -%}
    <link rel="preload" as="style" href="{{ 'collection.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
</head>
{%- assign show_breadcrumb = true -%}
{%- assign show_hr = true -%}
{%- assign show_sidebar = true -%}
{%- assign show_account_sidebar = false -%}
{%- if settings.show_breadcrumb_nav -%}
  {%- if template.name == 'login' -%}
    {%- assign show_breadcrumb = false -%}
    {%- assign show_hr = false -%}
    {%- assign show_sidebar = false -%}
  {%- elsif template.name == 'register' -%}
    {%- assign show_breadcrumb = false -%}
    {%- assign show_hr = false -%}
    {%- assign show_sidebar = false -%}
  {%- elsif request.page_type == 'index' -%}
    {%- assign show_breadcrumb = false -%}
  {%- elsif template.name == 'account' or template.name == 'order' or template.name == 'addresses' -%}
    {%- assign show_hr = false -%}
    {%- assign show_account_sidebar = true -%}
    {%- assign show_sidebar = false -%}
  {%- endif -%}
{%- endif -%}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% comment %}
    <hr class="small--hide hr--small">
    {% endcomment %}
  {% section "header" %}
  <div id="page-wrap" class="site-wrapper">
    {%- if show_account_sidebar == true -%}
      <p class="account-pages-title">{{ 'customer.login.page_title' | t }}</p>
    {%- endif -%}
    {%- if template.name == 'product' or template.name == 'collection' -%}
      <p class="product-pages-title">{{ 'cart.cart_summary.products_header' | t }}</p>
    {%- endif -%}
    <div class="grid">
      {%- if show_sidebar == true -%}
        {% section "sidebar" %}
      {%- elsif show_account_sidebar == true -%}
        {% section 'account-sidebar' %}
      {%- endif -%}
      <main class="main-content grid__item{% if show_sidebar == true or show_account_sidebar == true %} medium-up--four-fifths{% endif %}" id="MainContent" role="main">
        {%- if show_hr == true -%}
          <hr class="hr--border-top small--hide">
          {%- endif -%}
        {%- if show_breadcrumb == true -%}
          {% include 'breadcrumb-nav' %}
        {%- endif -%}
        {{ content_for_layout }}
      </main>
      {% section 'cart-drawer' %}
    </div>
  </div>
  {%- if use_pallet == true -%}
    {% section 'product-pallet-banner' %}
  {%- endif -%}
  {% section "footer" %}
  {%- if request.page_type == 'index' -%}
    <p id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'homepage.slideshow.navigation_instructions' | t -}}
    </p>
  {%- endif -%}
  {% if request.page_type == 'product' or request.page_type == 'index' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    <script>
      // Set a global variable for theme.js to use on product single init
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
      theme.productSingleObject = {{ product | json }};
    </script>
  {% endif %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
  <script>
    window.theme = window.theme || {};
    theme.routes = {
      root_url: '{{ routes.root_url }}',
      account_url: '{{ routes.account_url }}',
      account_login_url: '{{ routes.account_login_url }}',
      account_logout_url: '{{ routes.account_logout_url }}',
      account_recover_url: '{{ routes.account_recover_url }}',
      account_register_url: '{{ routes.account_register_url }}',
      account_addresses_url: '{{ routes.account_addresses_url }}',
      collections_url: '{{ routes.collections_url }}',
      all_products_collection_url: '{{ routes.all_products_collection_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_clear_url: '{{ routes.cart_clear_url }}'
    };
  </script>
  <!-- Shopify marketing and plugin stuff -->
  {%- capture shopify_scripts -%}
    {{ content_for_header }}
  {%- endcapture -%}
  {% comment %}{%- assign shopify_scripts = shopify_scripts | replace: 'var setCookieIfThankYouPage', ';var setCookieIfThankYouPage'
    | replace: 'var trekkie = window', ';var trekkie = window'
    | strip_newlines | replace: '  ', '' | replace: '	', '' | strip -%}
  {%- assign shopify_scripts = shopify_scripts
    | replace: "getElementsByTagName('script')[0]", "getElementsByClassName('js-last-defer')[0]"
    | replace: "getElementsByTagName('head')[0]", "getElementsByClassName('js-last-defer')[0].parentNode"
    | replace: '.async = true', '.defer = true' -%}{% endcomment %}
  {{ shopify_scripts | strip }}
  {% comment %} {{ shopify_scripts | replace: 'previewBarInjector.init();', '' | strip }} {% endcomment %}
  <!-- End shopify marketing and plugin stuff -->
  <script src="{{ 'lazysizes.min.js' | asset_url }}" defer></script>
  {% if request.page_type contains 'customers/' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
  {% endif %}
  <script src="{{ 'jquery-1.11.0.min.js' | asset_url }}" defer></script>
  <script src="{{ 'modernizr.min.js' | asset_url }}" defer></script>
  <script src="{{ 'theme.js' | asset_url }}" defer></script>
  <script src="{{ 'sidebar-cart.js' | asset_url }}" defer></script>
  {%- if template.name == 'account' -%}
    <script src="{{ 'account.js' | asset_url }}" defer></script>
  {%- endif -%}
  {%- if template.name == 'product' -%}
    <script src="{{ 'product.js' | asset_url }}" defer></script>
    <script src="{{ 'tabs.js' | asset_url }}" defer></script>
  {%- endif -%}
</body>
</html>
