<!doctype html>
<html class="supports-no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary_color }}">
  {%- if shop.permanent_domain contains 'supersod-staging' -%}
    <meta name="robots" content="noindex">
    <link rel="manifest" href="/apps/litefy/manifest/">
  {%- endif -%}
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '32x32' }}">
  {%- endif -%}

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {%- if request.page_type == 'index' -%}
  	<meta name="google-site-verification" content="GhSNMklbFcKT98jYU17sUMGVIl_uX2zoCjwPtYARNNg" />
  {%- endif -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('supports-no-js', 'supports-js');

    var theme = {
      mapStrings: {
        addressError: {{ 'homepage.map.address_error' | t | json }},
        addressNoResults: {{ 'homepage.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'homepage.map.address_query_limit_html' | t | json }},
        authError: {{ 'homepage.map.auth_error_html' | t | json }}
      }
    }
  </script>

  {% include 'ss-head-assets' %}
  <link rel="stylesheet" href="{{ 'ss-styles.css' | asset_url }}">

  {%- assign use_pallet = false -%}
  {%- comment -%}{%- if template.name == 'product' and product.tags contains 'pallet' -%}
    {%- assign use_pallet = true -%}
  {%- endif -%}
  {%- if template.name == 'index' -%}
    <style>{% render 'home-critical' %}</style>
  {%- elsif template.name == 'product' -%}
    <style>{% render 'product-critical' %}</style>
  {%- elsif template.name == 'product' -%}
    <style>{% render 'collection-critical' %}</style>
  {%- else -%}
    <style>{% render 'home-critical' %}</style>
  {%- endif -%}
  {%- endcomment -%}
  <link rel="preload" as="style" media="screen" href="{{ 'theme.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as="style" media="screen" href="{{ 'header.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as="style" href="{{ 'forms.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- if template.name == 'account' or template.name == 'order' or template.name == 'addresses' -%}
    <link rel="stylesheet" href="{{'account.scss.css' | asset_url}}">
  {%- endif -%}
  {%- if template.name == 'index' -%}
    <link rel="preload" as="style" href="{{ 'home.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  <link rel="preload" as="style" href="{{ 'site-footer.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- unless request.page_type == 'cart' -%}
    <link rel="preload" as="style" href="{{ 'sidebar-cart.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endunless -%}
  {%- if template.name == 'login' or template.name == 'register' -%}
    <link rel="preload" as="style" href="{{ 'sign-in-up.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  {%- if template.name == 'product' or template.name == 'collection' or template.name == 'search' -%}
    <link rel="preload" as="style" href="{{ 'products-collections.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  {%- if template.name == 'product' -%}
    <link rel="preload" as="style" href="{{ 'tabs.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  {%- if template.name == 'product' or template.name == 'cart' -%}
    <link rel="preload" as="style" href="{{ 'product.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  {%- if template.name == 'collection' -%}
    <link rel="preload" as="style" href="{{ 'collection.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  {%- if template.name == 'index' -%}
    <link rel="preload" as="style" href="{{ 'collection-grid-item.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" href="{{ 'promo-block.scss.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  {%- if template.name == 'cart' -%}
    <link rel="preload" as="style" href="{{ 'zebra_datepicker.min.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" href="{{ 'magnific-popup.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" href="{{ 'cart.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
  {%- endif -%}
  <noscript>
    <link rel="stylesheet" media="screen" href="{{ 'theme.scss.css' | asset_url }}">
    <link rel="stylesheet" media="screen" href="{{ 'header.scss.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'forms.css' | asset_url }}">
    {%- if template.name == 'index' -%}
    <link rel="stylesheet" href="{{ 'home.scss.css' | asset_url }}">
    {%- endif -%}
    <link rel="stylesheet" href="{{ 'site-footer.css' | asset_url }}">
    {%- unless request.page_type == 'cart' -%}
      <link rel="stylesheet" href="{{ 'sidebar-cart.css' | asset_url }}">
    {%- endunless -%}
    {%- if template.name == 'login' or template.name == 'register' -%}
      <link rel="stylesheet" href="{{ 'sign-in-up.scss.css' | asset_url }}">
    {%- endif -%}
    {%- if template.name == 'product' or template.name == 'collection' or template.name == 'search' -%}
      <link rel="stylesheet" href="{{ 'products-collections.scss.css' | asset_url }}">
    {%- endif -%}
    {%- if template.name == 'product' -%}
      {% comment %}<link rel="stylesheet" href="{{ 'tabs.scss.css' | asset_url }}">{% endcomment %}
    {%- endif -%}
    {%- if template.name == 'product' or template.name == 'cart' -%}
      <link rel="stylesheet" href="{{ 'product.scss.css' | asset_url }}">
    {%- endif -%}
    {%- if template.name == 'collection' -%}
      <link rel="stylesheet" href="{{ 'collection.scss.css' | asset_url }}">
    {%- endif -%}
    {%- if template.name == 'index' -%}
      <link rel="stylesheet" href="{{ 'collection-grid-item.scss.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'promo-block.scss.css' | asset_url }}">
    {%- endif -%}
    {%- if template.name == 'cart' -%}
      <link rel="stylesheet" href="{{ 'zebra_datepicker.min.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'magnific-popup.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'cart.css' | asset_url }}">
    {%- endif -%}
  </noscript>
  <!-- sentry -->
  {%- if settings.sentry_key -%}
    <script src="//browser.sentry-cdn.com/6.3.3/bundle.min.js"></script>
  {%- endif -%}

  <!-- Searchspring -->
  {% if settings.ss_enable %}
  	{% render 'ss-script' %}
  {% endif %}
</head>

{%- assign show_sidebar = true -%}
{%- assign show_account_sidebar = false -%}
{%- if template.name == 'cart' or template.name == 'product' -%}
  {%- assign show_sidebar = false -%}
{%- endif -%}
{%- if settings.show_breadcrumb_nav -%}
  {%- if template.name == 'login' -%}
    {%- assign show_sidebar = false -%}
  {%- elsif template.name == 'register' -%}
    {%- assign show_sidebar = false -%}
  {%- elsif request.page_type == 'index' -%}
  {%- elsif template.name == 'account' or template.name == 'order' or template.name == 'addresses' -%}
    {%- assign show_account_sidebar = true -%}
    {%- assign show_sidebar = false -%}
  {%- endif -%}
{%- endif -%}

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}{% if settings.ss_enable and collection.handle and collection.handle == settings.ss_collection_handle %} ss-shop{% endif %}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% include "ss-header" %}

  <div id="content"
       class="site-wrapper site-wrapper--no-cart-drawer
              {% if show_sidebar == false and show_account_sidebar == false %} site-wrapper--no-sidebar{% endif %}">


    {%- if show_sidebar == true -%}
    <div class="sidebar-content">
      {% section "sidebar" %}
    </div>
    {%- elsif show_account_sidebar == true -%}
    <div class="sidebar-content sidebar-content--account">
      {% section 'account-sidebar' %}
    </div>
    {%- endif -%}

    <main class="main-content{% if request.page_type == 'index' %} main-content--home{% endif %}" id="MainContent" role="main">

      {{ content_for_layout }}

    </main>

  </div>

  {%- if use_pallet == true -%}
  {% section 'product-pallet-banner' %}
  {%- endif -%}

  {% section "ss-footer" %}

  {%- if request.page_type == 'index' -%}
    <p id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'homepage.slideshow.navigation_instructions' | t -}}
    </p>
  {%- endif -%}
  {% if request.page_type == 'product' or request.page_type == 'index' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {% endif %}
  <script>
    // Set a global variable for theme.js to use on product single init
    window.theme = window.theme || {};
    theme.moneyFormat = {{ shop.money_format | json }};
    theme.productSingleObject = {{ product | json }};
  </script>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
  <div hidden>
    <span id="new-window-0">Opens in a new window</span>
    <span id="new-window-1">Opens an external site</span>
    <span id="new-window-2">Opens an external site in a new window</span>
  </div>
  <!-- sentry -->
  {%- if settings.sentry_key -%}
    <script>
      if (typeof Sentry !== 'undefined') {
        Sentry.init({
          dsn: "{{settings.sentry_key}}",
          maxBreadcrumbs: 50,
          debug: true,
        });
      }
    </script>
  {%- endif -%}
  <script>
    window.theme = window.theme || {};
    theme.routes = {
      root_url: '{{ routes.root_url }}',
      account_url: '{{ routes.account_url }}',
      account_login_url: '{{ routes.account_login_url }}',
      account_logout_url: '{{ routes.account_logout_url }}',
      account_recover_url: '{{ routes.account_recover_url }}',
      account_register_url: '{{ routes.account_register_url }}',
      account_addresses_url: '{{ routes.account_addresses_url }}',
      collections_url: '{{ routes.collections_url }}',
      all_products_collection_url: '{{ routes.all_products_collection_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_clear_url: '{{ routes.cart_clear_url }}',
      validation_tool_url: '{{ settings.validation_tool_url }}',
      validation_tool_shop: '{{ settings.validation_tool_shop }}'
    };
  </script>
  <!-- Shopify marketing and plugin stuff -->
  {%- capture shopify_scripts -%}
    {{ content_for_header }}
  {%- endcapture -%}
  {% comment %}{%- assign shopify_scripts = shopify_scripts | replace: 'var setCookieIfThankYouPage', ';var setCookieIfThankYouPage'
    | replace: 'var trekkie = window', ';var trekkie = window'
    | strip_newlines | replace: '  ', '' | replace: '	', '' | strip -%}
  {%- assign shopify_scripts = shopify_scripts
    | replace: "getElementsByTagName('script')[0]", "getElementsByClassName('js-last-defer')[0]"
    | replace: "getElementsByTagName('head')[0]", "getElementsByClassName('js-last-defer')[0].parentNode"
    | replace: '.async = true', '.defer = true' -%}{% endcomment %}
  {{ shopify_scripts | strip }}
  {% comment %} {{ shopify_scripts | replace: 'previewBarInjector.init();', '' | strip }} {% endcomment %}
  <!-- End shopify marketing and plugin stuff -->
  <script>
    const loadPreloadedStyles = function () {
      let elements = document.querySelectorAll('link[as=style]');
      if (typeof elements === 'undefined' || elements.length < 1) {
        return;
      }

      for (let i = 0; i < elements.length; i++) {
        const element = elements[i];
        element.rel = 'stylesheet';
        element.onload = null;
        element.removeAttribute('as');
      }
    };
    loadPreloadedStyles();
  </script>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" defer></script>
  {% if request.page_type contains 'customers/'  or template.name == 'cart' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
  {% endif %}
  {%- if template.name == 'product' -%}
    <script src="{{ 'jquery-1.11.0.min.js' | asset_url }}" defer></script>
  {%- else -%}
    <script src="{{ 'jquery.js' | asset_url }}" defer></script>
  {%- endif -%}
  <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer></script>
  <script src="{{ 'modernizr.min.js' | asset_url }}" defer></script>
  <script src="{{ 'theme.js' | asset_url }}" defer></script>
  {% comment %}<script src="{{ 'sidebar-cart.js' | asset_url }}" defer crossorigin></script>{% endcomment %}
  <script src="{{ 'utils.js' | asset_url }}" defer crossorigin></script>
  {%- if template.name == 'account' -%}
    <script src="{{ 'account.js' | asset_url }}" defer crossorigin></script>
  {%- endif -%}
  {%- if template.name == 'product' -%}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyBDNbFA4quUVSMGdxSn_lqnZVcp72c5K9k" defer></script>
    <script src="{{ 'product.js' | asset_url }}" defer crossorigin></script>
    {% comment %}<script src="{{ 'tabs.js' | asset_url }}" defer></script>{% endcomment %}
  {%- endif -%}
  {%- if template.name == 'cart' -%}
    <script src="{{ 'zebra_datepicker.min.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}" defer></script>
    <script src="{{ 'cart.js' | asset_url }}" defer crossorigin></script>
  {%- endif -%}

  {%- if template.name == 'product' -%}
    {%- if product.tags contains 'Bundle' -%}
      {%- render 'bold-pr' -%}
      {%- render 'bold-common' -%}
    {%- endif -%}
    {%- comment -%}{%- render 'bold-ro-init' -%}
    {%- render 'bold-subscription-widget' -%}{%- endcomment -%}
  {%- elsif template.name != 'index' and template.name != 'collection' and template.name != 'account'-%}
    {%- render 'bold-common' -%}
  {%- endif -%}
  {% include 'ss-script-assets' %}
  <script src="{{ 'third-party-code.js' | asset_url }}" defer></script>
  {% include 'smile-initializer' %}
  {%- unless shop.permanent_domain contains 'supersod-staging' -%}
    <script type='text/javascript'>
      window.__lo_site_id = 151169;

      (function() {
        var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
        wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
        })();
    </script>
  {%- endunless -%}

<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->

  <!-- Searchspring Intellisuggest Tracking -->
  {% if settings.ss_enable %}
  	{% render 'ss-intellisuggest' %}
  {% endif %}
  
  <script src="{{ 'recommended_soil3.js' | asset_url }}" defer></script>
</body>
</html>
