<!-- /templates/product.liquid -->
{%- assign use_pallet = false -%}
{%- assign use_check = false -%}
{%- assign uses_normal_toggle = false -%}
{%- assign use_variant_toggle = false -%}
{%- assign is_pickup_only = false -%}
{%- assign is_delivery_only = false -%}
{%- if product.tags contains 'pallet' -%}
  {%- assign use_pallet = true -%}
  {%- assign use_check = true -%}
{%- endif -%}
{%- if product.tags contains 'use-normal-toggle' -%}
  {%- assign use_check = true -%}
  {%- assign uses_normal_toggle = true -%}
{%- elsif product.tags contains 'use-variant-fixed-toggle' -%}
  {%- assign use_check = true -%}
  {%- assign use_variant_toggle = true -%}
{%- endif -%}
{%- if product.tags contains 'delivery-only' -%}
  {%- assign is_delivery_only = true -%}
{%- elsif product.tags contains 'pickup-only' -%}
  {%- assign is_pickup_only = true -%}
{%- endif -%}
<div itemscope itemtype="http://schema.org/Product" id="ProductSection" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.product_image_zoom_type }}" data-show-extra-tab="{{ section.settings.show_extra_tab }}" data-extra-tab-content="{{ section.settings.extra_tab_content }}" data-cart-enable-ajax="{{ settings.cart_enable_ajax }}" data-enable-history-state="true">

  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant in stock, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="product-single {% if product.images.size == 0%} product-single--no-media{% endif %}" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <header class="product-single__header">

      {% if section.settings.vendor_show %}
      <p class="product-single__vendor" itemprop="brand">{{ product.vendor }}</p>
      {% endif %}

      <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>
      {%- if product.tags contains 'time-limit-21d' -%}
      <p class="product-single__warn-msg">{{ 'products.product.time_limit_21d' | t }}</p>
      {%- endif -%}

      <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">

      <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

      <p class="product-single__prices">
        {%- if use_pallet == true -%}
        <span class="product-single__price js-current-price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}"></span>
        {%- else -%}
        {% if product.compare_at_price_max > product.price %}
        <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
        {% else %}
        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        {% endif %}
        <span id="ProductPrice" class="product-single__price js-product-single-price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
          <span class="money js-single-price" data-product-id="{{ product.id }}">{{ current_variant.price | money }}</span>
        </span>

        {% if product.compare_at_price_max > product.price %}
        <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        <del class="product-single__price--compare js-price-compare" id="ComparePrice">
          {{ current_variant.compare_at_price | money }}
        </del>
        {% endif %}

        {% include 'product-unit-price', variant: current_variant, available: true %}
        {%- endif -%}
      </p>
    </header>

    <div class="product-single__gallery">
      {% for image in product.images %}
        {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
        {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with image: image, width: 720, height: 600, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}

        <div id="{{ wrapper_id }}" class="product-single__featured-image-wrapper js-image-wrapper supports-js{% unless featured_image == image %} hidden{% endunless %}" data-image-id="{{ image.id }}">
          <div class="product-single__photos" data-image-id="{{ image.id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
            <a href="#{{ img_id }}" class="js-product-single-photo" data-mfp-src="{{ image | img_url: '1024x1024' }}">
              <img id="{{ img_id }}"
                 class="product-single__photo lazyload{% unless featured_image == image %} lazypreload{% endunless %}{% if section.settings.product_image_zoom_type == 'lightbox' %} lightbox{% endif %}"
                 {% if section.settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ image | img_url: '1024x1024' }}"{% endif %}
                 src="{{ image | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">
                <span class="hide">View image</span>
              </a>
          </div>
          {% if product.compare_at_price_max > product.price %}
            <span class="badge badge--sale"><span>{{ 'products.product.on_sale' | t }}</span></span>
          {% endif %}
        </div>
      {% endfor %}
      {%- for media in product.media -%}
        {%- if media.media_type == 'external_video' -%}
          {%- capture wrapper_id -%}ProductImageWrapper-{{ media.id }}{%- endcapture -%}
          {% capture img_id %}ProductImage-{{ media.id }}{% endcapture %}
          {%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div id="{{ wrapper_id }}" class="product-single__featured-image-wrapper js-image-wrapper supports-js hidden" data-image-id="{{ media.id }}">
            <div class="product-single__photos" data-image-id="{{ media.id }}" style="padding-top:74.24297%;">
              {%- assign filtered_url = media | external_video_url | split: '?controls=' -%}
              <a href="{{ filtered_url[0] | replace: 'embed/', 'watch?v=' }}" class="js-show-youtube-popup">
                <img id="{{ img_id }}"
                  class="product-single__photo lazyload lazypreload js-show-video"
                  src="{{ media | img_url: '200x200' }}"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ media.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ media.alt | escape }}">
                <img src="{{ 'yt-play.png' | asset_url }}" srcset="{{ 'yt-play-2x.png' | asset_url }} 2x" alt="play button" class="product-single__play" loading="lazy">
              </a>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}

      <noscript>
        <img src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}">
      </noscript>

      {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails" id="ProductThumbs">

          {% case product.images.size %}
            {% when 2 %}
              {% assign thumbnail_width = 'small--one-half medium-up--push-one-sixth medium-up--one-third' %}
            {% when 4 %}
              {% assign thumbnail_width = 'small--one-half medium-up--one-quarter' %}
            {% else %}
              {% assign thumbnail_width = 'small--one-third medium-up--one-third' %}
          {% endcase %}

          {% for image in product.images %}
            <li class="product-single__thumbnail-wrapper">
              <a href="{{ image.src | img_url: 'grande' }}" class="js-product-single-thumbnail product-single__thumbnail" data-image-id="{{ image.id }}">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}
          {%- for media in product.media -%}
            {%- if media.media_type == 'external_video' -%}
              <li class="product-single__thumbnail-wrapper">
                {%- assign filtered_url = media | external_video_url | split: '?controls=' -%}
                <a href="{{ filtered_url[0] | replace: 'embed/', 'watch?v=' }}" class="js-show-youtube-popup product-single__thumbnail" data-image-id="{{ media.id }}">
                  <img src="{{ media | img_url: 'compact' }}" alt="{{ media.alt | escape }}" loading="lazy">
                  <img src="{{ 'yt-play.png' | asset_url }}" srcset="{{ 'yt-play-2x.png' | asset_url }} 2x" alt="play button" class="product-single__play" loading="lazy">
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {% endif %}

      {% if section.settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery hidden">
          {% for image in product.images %}
            <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '2048x2048' }}"></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    {% if product.description contains '<!-- [break] -->' %}
    <div class="product-single__selling-points rte" itemprop="description">
      {{ product.description | split: '<!-- [break] -->' | first }}
    </div>
    {% endif %}

    {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
    <div class="product-single__policies rte">
      {%- if shop.taxes_included -%}
      {{ 'products.product.include_taxes' | t }}
      {%- endif -%}
      {%- if shop.shipping_policy.body != blank -%}
      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- endif -%}
    </div>
    {%- endif -%}


    {% if section.settings.social_sharing_products %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
    {% endif %}

    <div class="product-form-wrapper">

      {%- assign product_classes = 'js-product-form product-form form form--product' -%}
      {%- if product.has_only_default_variant -%}
      {%- assign product_classes = product_classes | append: ' product-form--default-variant-only' -%}
      {%- endif -%}
      {%- if use_pallet == true -%}
      {%- assign product_classes = product_classes | append: ' form--product--pallet' -%}
      {%- endif -%}
      <input type="hidden" class="js-address-latitude" value="{{cart.attributes.customer_latitude}}">
      <input type="hidden" class="js-address-longitude" value="{{cart.attributes.customer_longitude}}">

      {% form 'product', product, class: product_classes, data-ajax-add-to-cart: true, data-product-id: product.id, data-enable-history-state: history_state_data %}
      {%- if use_check == true or uses_normal_toggle == true -%}

        <input type="hidden" name="properties[pickup_location]" class="js-pickup-location" value="">

        <fieldset class="product-single__methods">
          <legend>Choose delivery or pickup</legend>
          {%- unless is_pickup_only -%}
            <input type="radio" name="properties[_method]" class="toggle-input hide js-delivery-method" id="delivery-method" value="delivery" checked>
            <label for="delivery-method" class="toggle-label">
              {{ 'layout.product.delivery' | t }}
              {% if product.type == 'Sod' or product.type == 'sod' %}<small class="toggle-label__instructions">Minimum order of 500 square feet of sod</small>{% endif %}
            </label>
          {%- endunless -%}

          {%- unless is_delivery_only -%}
            <input type="radio" name="properties[_method]" class="toggle-input hide js-delivery-method" id="pickup-method" value="pickup"{% if is_pickup_only %} checked{% endif %}>
            <label for="pickup-method" class="toggle-label">
              {{ 'layout.product.pickup' | t }}
              <small class="toggle-label__instructions">Pickup will be at your nearest store.</small>
            </label>
          {%- endunless -%}

        </fieldset>

        {%- unless is_pickup_only -%}
          <fieldset class="product-single__methods js-quantity-block js-delivery-quantity-block">

            <legend>Find the closest and freshest product</legend>
            <div>
              <label for="customer-address-product">{{ 'layout.product.your_address_delivery' | t }}</label>
              <input class="form__input full-width js-autocomplete-address" type="text" name="_address" value="{% unless cart.attributes.customer_address contains 'ick up' %}{{cart.attributes['customer_address']}}{% endunless %}" id="customer-address-product">
              <input class="js-customer-address" type="hidden" name="properties[_address]" value="{% unless cart.attributes.customer_address contains 'ick up' %}{{cart.attributes['customer_address']}}{% endunless %}">
            </div>
            <p class="hide js-invalid-address product-single__pallet-msg product-single__pallet-msg--unavailable product-single__pallet-msg--wrong-quantity">Please enter a valid address</p>
            <p class="product-single__warn-msg">{{ 'layout.product.customer_address_extra_info' | t }}</p>
          </fieldset>
        {%- endunless -%}


        <div class="hide">
          <label for="customer-address-product">{{ 'layout.product.your_address_pickup' | t }}</label>
        </div>

        {%- unless is_pickup_only -%}
          <div class="js-quantity-block js-delivery-quantity-block">
            <label for="zip_code" class="form__label hide">{{ 'customer.addresses.zip' | t }}</label>
            <input type="hidden" pattern="[0-9]{5}" name="properties[_zip]" id="postal_code" class="form__input full-width js-zip-code" value="{% unless cart.attributes.customer_address contains 'ick up' %}{{cart.attributes['zip_code']}}{% endunless %}" required readonly>
            <p class="product-single__pallet-msg product-single__pallet-msg--unavailable js-zip-not-found hide">Zip Code not found</p>
          </div>
        {%- endunless -%}

      {%- endif -%}

      <div>
        {%- if product.options.size > 1 -%}
          {%- for product_option in product.options_with_values limit: 1 -%}
            <label class="form__label" for="first_product_variant">{{ product_option.name }}</label>
            <select class="form__input full-width js-first-product-variant js-product-variant" id="first_product_variant">
              {% for value in product_option.values %}
              <option {% if product_option.selected_value == value %}selected{% endif %}>
                {{ value }}
              </option>
              {% endfor %}
            </select>
          {%- endfor -%}
          {%- unless use_check -%}
            {%- for product_option in product.options_with_values offset: 1 -%}
              <label class="form__label" for="first_product_variant">{{ product_option.name }}</label>
              <select class="form__input full-width js-product-variant" id="product_variant_{{forloop.index}}">
              {% for value in product_option.values %}
                <option {% if product_option.selected_value == value %}selected{% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            </select>
            {%- endfor -%}
          {%- endunless -%}
        {%- endif -%}
        {%- assign hide = false -%}
        {%- assign multi_options = false -%}
        {%- if product.has_only_default_variant -%}
          {%- assign hide = true -%}
        {%- elsif use_check == true or uses_normal_toggle == true -%}
          {%- assign hide = true -%}
        {%- elsif product.options.size > 1 -%}
          {%- unless use_check -%}
            {%- assign hide = true -%}
            {%- assign multi_options = true -%}
          {%- endunless -%}
        {%- endif -%}
        <select name="id" id="ProductSelect-{{ section.id }}" class="form__input full-width js-product-variants{% if hide %} hide{% endif %}" required>
          {%- assign variants_size = product.variants | size -%}
          {% for variant in product.variants %}
            {% if variant.available %}
            {%- assign disable = false -%}
            {%- if is_pickup_only -%}
              {%- unless variant.title contains 'ickup' -%}
                {%- assign disable = true -%}
              {%- endunless -%}
            {%- elsif is_delivery_only -%}
              {%- unless variant.title contains 'elivery' -%}
                {%- assign disable = true -%}
              {%- endunless -%}
            {%- endif -%}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
              value="{% unless disable %}{{ variant.id }}{% endunless %}"
              {% if disable %} disabled{% endif %}
              {% if use_pallet == true %} data-sod-zips="{{ variant.metafields.sod.zips }}" data-price="{{ variant.price | money_with_currency }}"{% endif %}
              {% if variant.compare_at_price %} data-compare-val="{{ variant.compare_at_price | money_without_currency }}"{% endif %}
              data-sku="{{ variant.sku }}" data-price-val="{{ variant.price | money_without_currency }}">{{ variant.title }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      {% if product.tags contains 'ask-planted-12m' %}
      <div class="flex flex--row lawn-planted">
        <div class="flex__item col-12">
          <p class="lawn-planted-question">
            <span>{{ 'products.product.answer_the_question' | t }}</span>
          </p>
        </div>
      </div>

      <div class="flex flex--row flex--jc-between">
        <div class="flex__item col-12">
          <input type="radio" name="properties[_lawn_planted]" value="yes" class="radio-custom js-lawn-planted-yes" id="lawn-planted-yes">
          <label for="lawn-planted-yes" class="radio-custom-label">Yes</label>
        </div>

        <div class="flex__item col-12 radio-custom-wraper">
          <input type="radio" name="properties[_lawn_planted]" value="no" class="radio-custom js-lawn-planted-no" id="lawn-planted-no">
          <label for="lawn-planted-no" class="radio-custom-label">No</label>
        </div>
      </div>
      {% endif %}

      <div class="flex flex--row flex--wrap flex--has-gutter flex--vertical-bottom" style="margin-bottom: 1em;">
        {% if section.settings.product_quantity_enable %}
          <div class="flex__item col-{% if uses_normal_toggle == true or use_variant_toggle == true %}3{% else %}4{% endif %}">
            {%- if use_pallet == true or use_check == true -%}
              {%- assign min_delivery_quantity = 500 -%}
              {%- assign min_pickup_quantity = 10 -%}
              <input type="hidden" name="quantity" class="js-product-quantity">
              {%- if uses_normal_toggle == false and use_variant_toggle == false -%}
                <input type="hidden" name="properties[_custom_price]" value="0" class="js-custom-value">
                <input type="hidden" name="properties[_custom_increment]" value="0" class="js-increment-value">
              {%- endif -%}
              {%- if uses_normal_toggle == true or use_variant_toggle == true -%}
                {%- assign min_delivery_quantity = 1 -%}
                {%- assign min_pickup_quantity = 1 -%}
              {%- endif -%}
              {%- unless is_pickup_only -%}
                <div class="js-quantity-block js-delivery-quantity-block{% if is_pickup_only %} hide{% endif %}">
                  <label for="delivery-quantity" class="form__label">{{ 'products.product.quantity' | t }}{% if uses_normal_toggle == false and use_variant_toggle == false %} (sq ft){% endif %}</label>
                  <input type="number" id="delivery-quantity" name="quantity-delivery" value="{{min_delivery_quantity}}"
                        min="{{min_delivery_quantity}}" step="{{min_delivery_quantity}}" class="form__input form__input--quantity full-width js-quantity-input js-quantity-input-delivery" required>
                </div>
              {%- endunless -%}
              {%- unless is_delivery_only -%}
                <div class="js-quantity-block js-pickup-quantity-block{% unless is_pickup_only %} hide{% endunless %}">
                  <label for="pickup-uantity" class="form__label">{{ 'products.product.quantity' | t }}{% if uses_normal_toggle == false and use_variant_toggle == false %} (sq ft){% endif %}</label>
                  <input type="number" id="pickup-uantity" name="quantity-pickup" value="{{min_pickup_quantity}}"
                        min="{{min_pickup_quantity}}" step="{{min_pickup_quantity}}" class="form__input form__input--quantity full-width js-quantity-input js-quantity-input-pickup" required>
                </div>
              {%- endunless -%}
            {%- else -%}
              <label for="Quantity" class="form__label">{{ 'products.product.quantity' | t }}{% if use_pallet == true and uses_normal_toggle == false %} (sq ft){% endif %}</label>
              <input type="number" id="Quantity" name="quantity" value="1" class="form__input form__input--quantity full-width" required>
            {%- endif -%}
            {%- if product.tags contains 'date-selector' -%}
              <input type="hidden" name="properties[_custom_price]" value="{{ product.variants[0].price | money_without_currency}}" class="js-date-selector-custom-value js-custom-value">
              <input type="hidden" name="properties[_custom_increment]" value="1" class="js-increment-value">
              <input type="hidden" name="properties[pickup_location]" class="js-pickup-location" value="">
              <input type="hidden" name="properties[_enable_date_selector]" value="true">
            {%- endif -%}
            {%- if is_pickup_only -%}
              <input type="hidden" name="properties[_method]" value="pickup">
            {%- endif -%}
          </div>
        {% endif %}
        <div class="flex__item col-{% if uses_normal_toggle == true or use_variant_toggle == true %}9{% else %}8{% endif %}">
          <div class="product-single__cart-submit-wrapper{% if section.settings.enable_payment_button %} product-single__shopify-payment-btn{% endif %}{% if section.settings.add_to_cart_width == 'full_width' %} product-form--full{% endif %}">
            {%- if use_pallet == true or use_check == true -%}
              {%- assign delivery_button_text = 'Check delivery price' -%}
              {%- assign pickup_button_text = 'Check location' -%}
              {%- if uses_normal_toggle == true or use_variant_toggle == true -%}
                {%- assign delivery_button_text = 'Check delivery eligibility' -%}
                {%- assign pickup_button_text = 'Check pickup location' -%}
              {%- endif -%}
              {%- unless is_pickup_only -%}
                <div class="js-quantity-block js-delivery-quantity-block">
                  <button type="button" class="button button--medium button--secondary product-single__cart-submit btn--full js-product-price-check" disabled>{{delivery_button_text}}</button>
                </div>
              {%- endunless -%}
              {%- unless is_delivery_only -%}
                <div class="product-locations-dropdown js-quantity-block js-pickup-quantity-block hide">
                  <label for="pickup-select" class="js-product-pickup-variants-title hide">{{ 'layout.product.location' | t }}</label>
                  <select name="properties[pickup_location]" id="pickup-select" class="form__input full-width js-product-pickup-variants hide"></select>
                </div>
              {%- endunless -%}

            {%- else -%}
            <button type="submit" name="add" id="AddToCart" class="js-product-submit js-lawn-planted button button--medium button--secondary product-single__cart-submit btn--full{% if section.settings.enable_payment_button %} shopify-payment-btn btn--secondary{% endif %}" data-cart-url="{{ routes.cart_url }}">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            {%- endif -%}
          </div>
        </div>
      </div>

      <div class="flex flex--row">
        <div class="flex__item col-12 lawn-planted-warning-wraper">
          <span class="lawn-planted-warning lawn-planted-warning-hide js-lawn-planted-warning">{{ 'products.product.answer_the_question_warning' | t }}</span>
        </div>
      </div>

      <div>
        {% if use_pallet == true or use_check == true %}
          {%- if uses_normal_toggle == false and use_variant_toggle == false -%}
            <p class="product-single__pallet-msg product-single__price product-single__price--pallet-price js-current-price-unit hide"></p>
          {%- endif -%}
          <button type="submit" name="add"{% unless product.tags contains 'Bundle' %} id="AddToCart"{% endunless %}{% if use_pallet == true or use_check == true %} disabled{% endif %} class="{% unless product.tags contains 'Bundle' %}js-product-submit {% endunless %}{% if use_pallet == true or use_check == true %}hide {% elsif product.tags contains 'Bundle' %} hide{% endif %}button button--medium button--secondary product-single__cart-submit btn--full{% if section.settings.enable_payment_button %} shopify-payment-btn btn--secondary{% endif %}" data-cart-url="{{ routes.cart_url }}">
            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            <span id="AddToCartText2" class="js-add-to-cart-text-delivery hide">(delivered)</span>
            <span id="AddToCartText3" class="js-add-to-cart-text-pickup hide">(pickup)</span>
          </button>
          {% if product.tags contains 'Bundle' %}
            <button type="button" class="js-product-submit js-bundle-submit button button--medium button--secondary product-single__cart-submit btn--full hide">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              <span id="AddToCartText2" class="js-add-to-cart-text-delivery hide">(delivered)</span>
              <span id="AddToCartText3" class="js-add-to-cart-text-pickup hide">(pickup)</span>
            </button>
          {% endif %}
        {%- endif -%}
        {% if section.settings.enable_payment_button %}
        {{ form | payment_button }}
        {% endif %}
      </div>
      {%- if section.settings.product_quantity_enable and use_check -%}
      <p class="product-single__pallet-msg product-single__pallet-msg--unavailable product-single__pallet-msg--wrong-quantity js-wrong-min-quantity hide">{{ 'layout.product.minimum_quantity' | t | replace: '%placeholder%', '<span class="js-min-number">500</span>' }}</p>
      <p class="product-single__pallet-msg product-single__pallet-msg--unavailable product-single__pallet-msg--wrong-quantity js-wrong-quantity hide">{{ 'layout.product.multiples_value' | t }} <span class="js-multiple-number">500</span></p>
      {%- endif -%}

      {% endform %}
      {%- if use_pallet == true or use_check == true -%}
      <p class="product-single__pallet-msg product-single__pallet-msg--unavailable js-not-available-delivery hide">{{ 'products.product.delivery_unavailable_html' | t }}</p>
      <p class="product-single__pallet-msg product-single__pallet-msg--unavailable js-not-available-text hide">{{ 'products.product.pallet_unavailable_html' | t }}</p>
      <p class="product-single__pallet-msg product-single__pallet-msg--unavailable js-not-available-pickup-text hide">{{ 'products.product.pickup_unavailable_html' | t }}</p>
      {%- if uses_normal_toggle == false and use_variant_toggle == false -%}
      <p class="product-single__pallet-msg">{{ 'products.product.sod_picker_text_html' | t }}</p>
      {%- endif -%}
      {%- elsif product.type == 'Soil' -%}
      <p class="product-single__pallet-msg">{{ 'products.product.soil_calculator_text_html' | t }}</p>
      {%- endif -%}

      <ul class="list--inline payment-icons">
        {%- for type in shop.enabled_payment_types -%}
        <li>
          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </li>
        {%- endfor -%}
      </ul>

    </div>

  </div>

  <div class="product-tabs" id="frequently-bought-container"></div>

  {% if product.description.size > 0 %}
  	<section class="product-single__description product-single__section rte" itemprop="description">
      <h2 class="product-single__section-title">{{ 'products.product.description' | t }}</h2>
  	{% if product.description contains '<!-- [break] -->' %}
      {{ product.description | split: '<!-- [break] -->' | last }}
  	{% else %}
  	  {{ product.description }}
    {% endif %}
    </section>
  {% endif %}


  {% if section.settings.product_description_position == 'below' %}
  {%- assign position = 'below' -%}
  {%- assign metafield_names = 'uses,specs,guides,automower-app' | split: ',' -%}
  {%- assign metafield_titles = 'Uses,Specs,Guides,Automower App' | split: ',' -%}
    {%- for metafield_title in metafield_titles -%}
      {%- assign metafield_key = metafield_names[forloop.index0] -%}
      {%- if product.metafields.global[metafield_key] != blank -%}{%- endif -%}
    {%- endfor -%}
  {% endif %}

</div>
{%- unless product.tags contains 'show-bundle-variant' -%}
  <style>
    .bold-bundles-child-product__variant-selector {
      display: none;
    }
  </style>
{%- endunless -%}
{%- if use_check == true -%}
  <script>
    const isProductLimitedByZip = true;
    {% if uses_normal_toggle == true %}const usesRegularToggle = true;{% endif %}
    {% if use_variant_toggle == true %}const usesVariantToggle = true;{% endif %}
    {% if product.tags contains 'Bundle' %}const isBundle = true;{% endif %}
    {% if product.type == 'Sod' or product.type == 'sod' %}const isSod = true;{% endif %}
  </script>
  {%- unless uses_normal_toggle -%}
    <style>.selector-wrapper {display: none;}</style>
  {%- endunless -%}
{%- endif -%}
<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  window.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
  const cartAttributes = {{cart.attributes | json}};
  const productData = {
    id: {{product.id}},
    name: {{product.name | json}},
    type: {{product.type | json}}
  };
  {%- if product.options.size > 1 -%}
    const hasMultipleOptions = true;
    {%- if multi_options -%}
      const isMultiOption = true;
    {%- endif -%}
  {%- endif -%}
  {%- if product.tags contains 'delivers-everywhere' -%}
    const isDeliveredEverywhere = true;
  {%- endif -%}
  const cartItems = [{% for item in cart.items %}{
    {%- assign item_value = 0 -%}
    {%- assign product_type = item.product.type | downcase -%}
    {%- if item.properties._custom_price != blank -%}
      {%- assign item_value = item.properties._custom_price | times: 100 | times: item.quantity -%}
    {%- elsif item.original_price != item.final_price -%}
      {%- assign item_value = item.final_price -%}
    {%- else -%}
      {%- assign item_value = item.original_price -%}
    {%- endif -%}
    {%- assign item_price = item_value | money_without_currency | replace: ',', '' -%}
    {%- if item.properties._bold_bundles_price != blank -%}
      {%- assign product_type = 'bundle' -%}
      {%- assign item_price = item.properties._bold_bundles_price | times: item.quantity | money_without_currency | replace: ',', '' -%}
      full_price: {{item.final_price | times: 0.01}},
    {%- endif -%}
    variant_id: {{item.id}}, quantity: {{item.quantity}}, price: {{item_price}},
    {%- if item.properties -%}
      properties: {
        {%- for prop in item.properties -%}
          {{prop[0] | json}}: {{prop[1] | json}}{%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
      },
    {%- endif -%}
    product_type: {{product_type | json}}, product_id: {{item.product.id}},
    product_name: '{{item.product.title}}', product_image: '{{item.image | img_url: "100x100"}}'
  }{%- unless forloop.last -%},{%- endunless -%}{% endfor %}];
</script>

{% comment %}Yard area cookie detector{% endcomment %}
<script>
  // get cookie totalsqft
  let cookieValue = document.cookie
  .split('; ')
  .find(row => row.startsWith('totalsqft='))
  .split('=')[1];

  cookieValue = parseInt(cookieValue.replace(/,/g, ''));
  console.log('cookieValue', cookieValue);

  // update #delivery-quantity value to totalsqft rounded UP to the nearest 500
  function showCookieValue() {
    if(cookieValue){
      // Updates delivery quantity
      const outputDelivery = document.getElementById('delivery-quantity');
      outputDelivery.value = Math.ceil(cookieValue/500)*500;

      // Updates pickup quantity
      const outputPickup = document.getElementById('pickup-uantity');
      outputPickup.value = Math.ceil(cookieValue/10)*10;

      console.log(cookieValue, outputDelivery.value, outputPickup.value);

    }
  }
  // invoke showCookieValue function
  showCookieValue();

  const pageUrl = `${window.location.protocol}//${window.location.hostname}${window.location.pathname}`;
  document.querySelectorAll('.product-single__pallet-msg a').forEach(link => {
    const parsedUrl = new URL(link.href);
    if(!Object.keys(parsedUrl.searchParams).length) {
      link.href = `${parsedUrl.href}?return_url=${pageUrl}`;
    } else {
      let searchParams = new URLSearchParams(parsedUrl.search);
      searchParams.set('return_url', pageUrl);
      link.href = `${parsedUrl.href}${searchParams.toString()}`;
    }
  });
</script>

{% schema %}
{
  "name": {
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "hi": "उत्पाद पेज",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "ko": "제품 페이지",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pt-BR": "Páginas de produtos",
    "pt-PT": "Páginas de produtos",
    "sv": "Produktsidor",
    "th": "หน้าสินค้า",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "product_quantity_enable",
      "label": {
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "hi": "मात्रा चयनकर्ता दिखाएं",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pt-BR": "Exiba um seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      }
    },
    {
      "type": "checkbox",
      "id": "vendor_show",
      "label": {
        "da": "Vis produktleverandør",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fi": "Näytä tuotteen myyjä",
        "fr": "Afficher le distributeur du produit",
        "hi": "उत्पाद विक्रेता दिखाएं",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandør",
        "nl": "Productleverancier weergeven",
        "pt-BR": "Exiba o fornecedor do produto",
        "pt-PT": "Mostrar o fornecedor do produto",
        "sv": "Visa produktsäljare",
        "th": "แสดงผู้ขายสินค้า",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    },
    {
      "type": "checkbox",
      "id": "social_sharing_products",
      "label": {
        "da": "Aktivér deling for produkter",
        "de": "Teilen von Produkten aktivieren",
        "en": "Enable sharing for products",
        "es": "Habilitar compartir para los productos",
        "fi": "Ota tuotteiden jakaminen käyttöön.",
        "fr": "Activer le partage pour les produits",
        "hi": "उत्पादों के लिए शेयर करना सक्षम करें",
        "it": "Permetti condivisione prodotti",
        "ja": "商品の共有を有効にする",
        "ko": "제품 공유 사용",
        "nb": "Aktiver deling for produkter",
        "nl": "Delen inschakelen voor producten",
        "pt-BR": "Habilitar compartilhamento para produtos",
        "pt-PT": "Ativar partilha para produtos",
        "sv": "Aktivera delning för produkter",
        "th": "เปิดใช้งานการแชร์สินค้า",
        "zh-CN": "启用产品分享",
        "zh-TW": "啟用產品分享"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en": "Pallets footer",
        "es": "Pié de pagina de pallets"
      }
    },
    {
      "type": "image_picker",
      "id": "sods_pallet_image",
      "label": {
        "en": "Image",
        "es": "Imagen"
      }
    },
    {
      "type": "textarea",
      "id": "sods_pallet_text",
      "label": {
        "en": "Text",
        "es": "Texto"
      }
    },
    {
      "type": "text",
      "id": "sods_pallet_button_text",
      "label": {
        "en": "Button text",
        "es": "Texto del botón"
      }
    },
    {
      "type": "url",
      "id": "sods_pallet_button_link",
      "label": {
        "en": "Button link",
        "es": "Enlace del botón"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Beskrivelse",
        "de": "Beschreibung",
        "en": "Description",
        "es": "Descripción",
        "fi": "Kuvaus",
        "fr": "Description",
        "hi": "विवरण",
        "it": "Descrizione",
        "ja": "説明",
        "ko": "설명",
        "nb": "Beskrivelse",
        "nl": "Beschrijving",
        "pt-BR": "Descrição",
        "pt-PT": "Descrição",
        "sv": "Beskrivning",
        "th": "คำอธิบาย",
        "zh-CN": "描述",
        "zh-TW": "說明"
      }
    },
    {
      "type": "select",
      "id": "product_description_position",
      "label": {
        "da": "Placering",
        "de": "Position",
        "en": "Position",
        "es": "Posición",
        "fi": "Sijainti",
        "fr": "Position",
        "hi": "स्थिति",
        "it": "Posizione",
        "ja": "位置",
        "ko": "위치",
        "nb": "Posisjon",
        "nl": "Positie",
        "pt-BR": "Posição",
        "pt-PT": "Posição",
        "sv": "Position",
        "th": "ตำแหน่ง",
        "zh-CN": "位置",
        "zh-TW": "位置"
      },
      "default": "below",
      "options": [
        {
          "value": "right",
          "label": {
            "da": "Til højre for billeder",
            "de": "Rechte von Bildern",
            "en": "Right of images",
            "es": "A la derecha de las imágenes",
            "fi": "Kuvien oikealla puolella",
            "fr": "Droit d'images",
            "hi": "इमेज की दाईं ओर",
            "it": "A destra delle immagini",
            "ja": "画像の右",
            "ko": "이미지의 오른쪽",
            "nb": "Til høyre for bildet",
            "nl": "Rechts van afbeeldingen",
            "pt-BR": "Direito de imagens",
            "pt-PT": "À direita das imagens",
            "sv": "Höger om bilder",
            "th": "ด้านขวาของภาพ",
            "zh-CN": "图片右侧",
            "zh-TW": "圖片右方"
          }
        },
        {
          "value": "below",
          "label": {
            "da": "Under billeder",
            "de": "Unter Bildern",
            "en": "Below images",
            "es": "Debajo de las imágenes",
            "fi": "Kuvien alapuolella",
            "fr": "Sous les images",
            "hi": "इमेज के नीचे",
            "it": "Sotto le immagini",
            "ja": "画像の下",
            "ko": "아래 이미지",
            "nb": "Under bildet",
            "nl": "Onder afbeeldingen",
            "pt-BR": "Imagens abaixo",
            "pt-PT": "Abaixo das imagens",
            "sv": "Under bilder",
            "th": "ด้านล่างของภาพ",
            "zh-CN": "图片下方",
            "zh-TW": "圖片下方"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_extra_tab",
      "label": {
        "da": "Vis en fane ved siden af din produktbeskrivelse",
        "de": "Ein Tab neben Ihrer Produktbeschreibung anzeigen",
        "en": "Show a tab next to your product description",
        "es": "Mostrar una pestaña al lado de la descripción de tu producto",
        "fi": "Näytä tuotekuvauksen vieressä oleva välilehti",
        "fr": "Afficher un onglet à côté de la description de votre produit",
        "hi": "आपके उत्पाद विवरण के आगे टैब दिखाएं",
        "it": "Mostra una scheda accanto alla descrizione del prodotto",
        "ja": "商品説明の横にタブを表示する",
        "ko": "제품 설명 옆에 탭 표시",
        "nb": "Vis en fane ved siden av produktbeskrivelsen",
        "nl": "Laat tabblad zien naast je productbeschrijving",
        "pt-BR": "Exibir uma aba ao lado da descrição do seu produto",
        "pt-PT": "Mostrar um separador ao lado da sua descrição do produto",
        "sv": "Visa en flik intill produktbeskrivningen",
        "th": "แสดงแท็บถัดจากคำอธิบายสินค้าของคุณ",
        "zh-CN": "显示产品描述旁边的标签",
        "zh-TW": "於產品說明旁邊顯示索引標籤"
      },
      "default": false
    },
    {
      "type": "page",
      "id": "extra_tab_content",
      "label": {
        "da": "Fanens indhold",
        "de": "Tab-Inhalt",
        "en": "Tab content",
        "es": "Contenido de la pestaña",
        "fi": "Välilehden sisältö",
        "fr": "Contenu de l'onglet",
        "hi": "टैब सामग्री",
        "it": "Contenuto della scheda",
        "ja": "タブのコンテンツ",
        "ko": "탭 콘텐츠",
        "nb": "Faneinnhold",
        "nl": "Content tabblad",
        "pt-BR": "Conteúdo da aba",
        "pt-PT": "Conteúdo do separador",
        "sv": "Flikens innehåll",
        "th": "เนื้อหาแท็บ",
        "zh-CN": "标签内容",
        "zh-TW": "索引標籤內容"
      },
      "info": {
        "da": "Dette sideindhold vises i den ekstra fane.",
        "de": "Der Inhalt dieser Seite wird auf der zusätzlichen Registerkarte angezeigt.",
        "en": "This page content will appear in the extra tab.",
        "es": "El contenido de esta página aparecerá en la pestaña adicional.",
        "fi": "Tämä sivun sisältö näkyy ylimääräisessä välilehdessä.",
        "fr": "Le contenu de cette page s'affichera dans l'onglet supplémentaire.",
        "hi": "यह पृष्ठ सामग्री अतिरिक्त टैब में दिखाई देगी.",
        "it": "Il contenuto di questa pagina verrà visualizzato nella scheda aggiuntiva.",
        "ja": "このページのコンテンツは追加のタブに表示されます。",
        "ko": "이 페이지 콘텐츠는 추가 탭에 나타납니다.",
        "nb": "Dette sideinnholdet vil vises i ekstrafanen.",
        "nl": "De content van deze pagina verschijnt in het extra tabblad.",
        "pt-BR": "O conteúdo dessa página aparecerá na aba extra.",
        "pt-PT": "O conteúdo desta página vai aparecer no separador adicional.",
        "sv": "Sidinnehållet visas i fliken Extra.",
        "th": "เนื้อหาของหน้านี้จะปรากฏในแท็บพิเศษ",
        "zh-CN": "此页内容将显示在额外标签中。",
        "zh-TW": "此頁面內容將出現在額外索引標籤。"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Udvalgt billede",
        "de": "Feature-Bild",
        "en": "Featured image",
        "es": "Imagen destacada",
        "fi": "Esittelykuva",
        "fr": "Image vedette",
        "hi": "फ़ीचर इमेज",
        "it": "Immagine in evidenza",
        "ja": "記事のサムネイル",
        "ko": "추천 이미지",
        "nb": "Utvalgt bilde",
        "nl": "Uitgelichte afbeelding",
        "pt-BR": "Imagem em destaque",
        "pt-PT": "Imagem em destaque",
        "sv": "Utvald bild",
        "th": "รูปภาพที่แสดง",
        "zh-CN": "配图",
        "zh-TW": "特色圖片"
      }
    },
    {
      "type": "select",
      "id": "product_image_zoom_type",
      "label": {
        "da": "Zoomtype",
        "de": "Zoomtyp",
        "en": "Zoom type",
        "es": "Tipo de zoom",
        "fi": "Zoomaustyyppi",
        "fr": "Type de zoom",
        "hi": "ज़ूम का प्रकार",
        "it": "Tipo di zoom",
        "ja": "ズームタイプ",
        "ko": "확대 유형",
        "nb": "Zoomtype",
        "nl": "Type zoom",
        "pt-BR": "Tipo de zoom",
        "pt-PT": "Tipo de zoom",
        "sv": "Zoomtyp",
        "th": "ประเภทการซูมภาพ",
        "zh-CN": "缩放类型",
        "zh-TW": "縮放類型"
      },
      "options": [
        {
          "value": "lightbox",
          "label": {
            "da": "Lightbox",
            "de": "Leuchtkasten",
            "en": "Lightbox",
            "es": "Lightbox",
            "fi": "Lightbox-valotaulu",
            "fr": "Visionneuse d'image",
            "hi": "लाइटबॉक्स",
            "it": "Lightbox",
            "ja": "Lightbox",
            "ko": "라이트 박스",
            "nb": "Lysboks",
            "nl": "Lightbox",
            "pt-BR": "Lightbox",
            "pt-PT": "Lightbox",
            "sv": "Ljuslåda",
            "th": "Lightbox",
            "zh-CN": "灯箱",
            "zh-TW": "燈箱"
          }
        },
        {
          "value": "zoom-in",
          "label": {
            "da": "Zoom ind",
            "de": "Heranzoomen",
            "en": "Zoom-in",
            "es": "Acercar",
            "fi": "Lähennä",
            "fr": "Zoom avant",
            "hi": "ज़ूम-इन",
            "it": "Zoom avanti",
            "ja": "ズームイン",
            "ko": "확대",
            "nb": "Zoom inn",
            "nl": "Inzoomen",
            "pt-BR": "Mais zoom",
            "pt-PT": "Mais zoom",
            "sv": "Zooma in",
            "th": "ซูมเข้า",
            "zh-CN": "缩小",
            "zh-TW": "放大"
          }
        },
        {
          "value": "none",
          "label": {
            "da": "Ingen zoom",
            "de": "Nicht zoomen",
            "en": "No zoom",
            "es": "Sin zoom",
            "fi": "Ei zoomausta",
            "fr": "Pas de zoom",
            "hi": "कोई ज़ूम नहीं",
            "it": "Nessun zoom",
            "ja": "ズームなし",
            "ko": "확대 없음",
            "nb": "Ingen zoom",
            "nl": "Geen zoom",
            "pt-BR": "Sem zoom",
            "pt-PT": "Sem zoom",
            "sv": "Ingen zoom",
            "th": "ไม่มีการซูม",
            "zh-CN": "无缩放",
            "zh-TW": "無縮放"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "da": "Knappen Læg i indkøbskurven",
        "de": "Schaltfläche In den Warenkorb",
        "en": "Add to cart button",
        "es": "Añadir al carrito",
        "fi": "Lisää ostoskoriin -painike",
        "fr": "Bouton d'ajout au panier",
        "hi": "कार्ट बटन में जोड़ें",
        "it": "Pulsante \"Aggiungi al carrello\"",
        "ja": "カートボタンに追加する",
        "ko": "카트 버튼에 추가",
        "nb": "Legg i handlekurv-knapp",
        "nl": "Knop aan winkelwagen toevoegen",
        "pt-BR": "Botão Adicionar ao carrinho",
        "pt-PT": "Botão Adicionar ao carrinho",
        "sv": "Lägg i varukorgen-knappen",
        "th": "ปุ่มเพิ่มลงในตะกร้าสินค้า",
        "zh-CN": "“添加到购物车”按钮",
        "zh-TW": "加入購物車按鈕"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "hi": "डायनेमिक चेकआउट बटन दिखाएं",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische betaalknop weergeven",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "hi": "प्रत्येक ग्राहक आपके स्टोर पर उपलब्ध अपनी पसंदीदा भुगतान की विधि देखेंगे जैसे PayPal या Apple Pay. [अधिक जानें](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解相關資訊](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "add_to_cart_width",
      "label": {
        "da": "Knapstørrelse",
        "de": "Schaltflächengröße",
        "en": "Button size",
        "es": "Tamaño del botón",
        "fi": "Painikkeen koko",
        "fr": "Taille du bouton",
        "hi": "बटन का आकार",
        "it": "Dimensione pulsante",
        "ja": "ボタンのサイズ",
        "ko": "버튼 사이즈",
        "nb": "Knappestørrelse",
        "nl": "Afmeting knop",
        "pt-BR": "Tamanho do botão",
        "pt-PT": "Tamanho do botão",
        "sv": "Knappstorlek",
        "th": "ขนาดปุ่ม",
        "zh-CN": "按钮大小",
        "zh-TW": "按鈕尺寸"
      },
      "options": [
        {
          "value": "regular",
          "label": {
            "da": "Almindelig",
            "de": "Regulär",
            "en": "Regular",
            "es": "Normal",
            "fi": "Normaali",
            "fr": "Normal",
            "hi": "नियमित",
            "it": "Regolare",
            "ja": "通常",
            "ko": "일반",
            "nb": "Vanlig",
            "nl": "Standaard",
            "pt-BR": "Regular",
            "pt-PT": "Normal",
            "sv": "Regelbunden",
            "th": "ปกติ",
            "zh-CN": "一般设置",
            "zh-TW": "標準"
          }
        },
        {
          "value": "full_width",
          "label": {
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "hi": "पूर्ण चौड़ाई",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura total",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "zh-CN": "全宽",
            "zh-TW": "全寬度"
          }
        }
      ]
    }
  ]
}
{% endschema %}
