<footer class="footer hs-search-hidden" id="footer">

  <section class="footer__mobile-row text-center">

    <nav class="container footer-mobile__links">
      <h4>How Can We Help?</h4>

      <ul class="flex flex--jc-center">

        
        <li class="footer-mobile__link">
          <a href="tel:+18883601125">
            <span class="footer-mobile__link-icon" aria-hidden="true">
              
              <span id="hs_cos_wrapper_footer_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon" style="" data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-hidden="true"><g id="layer1"><path d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></g></svg></span>
              
            </span>
            <span class="footer-mobile__link-text">Call Us</span>
          </a>
        </li>
        
        <li class="footer-mobile__link">
          <a href="https://supersod.com/storelocator">
            <span class="footer-mobile__link-icon" aria-hidden="true">
              
              <span id="hs_cos_wrapper_footer_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon" style="" data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" aria-hidden="true"><g id="layer1"><path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></g></svg></span>
              
            </span>
            <span class="footer-mobile__link-text">Locations</span>
          </a>
        </li>
        
        <li class="footer-mobile__link">
          <a href="https://shop.supersod.com/account">
            <span class="footer-mobile__link-icon" aria-hidden="true">
              
              <svg focusable="false" role="presentation" class="icon icon-account" viewBox="0 0 50 50"><path d="M31.1 34.7c-.2-2-.1-3.4-.1-5.2.9-.5 2.5-3.5 2.8-6 .7-.1 1.8-.7 2.1-3.5.2-1.5-.5-2.3-.9-2.5 1.1-3.4 3.5-14.1-4.4-15.2C29.8.9 27.7.1 25 .1c-11 .3-12.3 8.3-9.9 17.4-.4.3-1.1 1.1-.9 2.5.3 2.7 1.4 3.4 2.1 3.5.3 2.5 1.9 5.5 2.8 6 0 1.8.1 3.2-.1 5.2C16.9 40.5 2.4 38.9 1.7 50h46.6c-.6-11.1-15.1-9.5-17.2-15.3z"></path></svg>
              
            </span>
            <span class="footer-mobile__link-text">Account</span>
          </a>
        </li>
        

      </ul>
    </nav>
    <div class="container footer__mobile-copyright copyright">Copyright © 2021 Patten Seed Co. <a href="//www.supersod.com/privacy-policy/">Privacy Policy</a></div>
  </section>

  <section class="footer__bottom-row hide--phone">
    <div class="container">

      <div class="flex flex--has-gutter flex--row flex--wrap">
        <div class="flex__item col-3 col-6--tablet-only footer__col">

          <h3>Get a Quote</h3>
          <hr>
          <p>With 7 farms and 13 stores, Super-Sod can provide you with unmatched availability and selection of grasses. 
            We ship throughout Georgia, South Carolina, and North Carolina.</p>
          <p><a class="button button--tertiary" href="//www.supersod.com/free-quote.html">Get a Quote</a></p>

        </div><!--end widget-span -->
        <div class="flex__item col-3 col-6--tablet-only footer__col--connect footer__col">

          <h3>Connect With Us</h3>
          <hr>
          <ul>
            <li>
              
              <a class="footer__social-link" href="https://www.facebook.com/SuperSod">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512" height="19" aria-hidden="true"><g id="layer1"><path d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"></path></g></svg>
                <span class="visually-hidden">Super-Sod on facebook</span>
              </a>
              
              <a class="footer__social-link" href="https://twitter.com/Super_Sod_Seed">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="19" aria-hidden="true"><g id="layer1"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></g></svg>
                <span class="visually-hidden">Super-Sod on twitter</span>
              </a>
              
              <a class="footer__social-link" href="https://www.youtube.com/user/SuperSodPattenSeed">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="19" aria-hidden="true"><g id="layer1"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></g></svg>
                <span class="visually-hidden">Super-Sod on youtube</span>
              </a>
              
              <a class="footer__social-link" href="http://www.houzz.com/pro/supersod/super-sod">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="19" aria-hidden="true"><g id="layer1"><path d="M12.2 256L160 341.1 12.2 426.6V256M160 512l147.8-85.4V256L160 341.1V512zm0-512L12.2 85.4V256L160 170.6V0zm0 170.6L307.8 256V85.4L160 170.6z"></path></g></svg>
                <span class="visually-hidden">Super-Sod on houzz</span>
              </a>
              
              <a class="footer__social-link" href="https://www.pinterest.com/supersod/">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" height="19" aria-hidden="true"><g id="layer1"><path d="M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1 15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0 36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3.8-3.4 5-20.3 6.9-28.1.6-2.5.3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9 113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9 60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248 111 248 248z"></path></g></svg>
                <span class="visually-hidden">Super-Sod on pinterest</span>
              </a>
              
              <a class="footer__social-link" href="https://www.instagram.com/super_sod/">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="19" aria-hidden="true"><g id="layer1"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></g></svg>
                <span class="visually-hidden">Super-Sod on instagram</span>
              </a>
              
            </li>
            <li><a href="//www.supersod.com/calendar/">Calendar</a></li>
            <li><a href="https://blog.supersod.com">Blog</a></li>
          </ul>
          <hr>
          <ul>
            <li>Join our newsletter today to get great tips about fertilizing, insect alerts, mowing advice, best cultural practices, sales notices, and more!</li>
            <li><a class="button button--tertiary" href="//news.supersod.com/sign-up" target="_blank">Join Our Newsletter</a></li>
          </ul>

        </div><!--end widget-span -->
        <div class="flex__item col-3 col-6--tablet-only footer__col--about footer__col">

          <h3>Get to Know Us</h3>
          <hr>
          <ul>
            <li><a href="//www.supersod.com/about/">About</a></li>
            <li><a href="//www.supersod.com/pledge-to-customers">Our Pledge</a></li>
            <li><a href="//www.supersod.com/diy">Free DIY Info</a></li>
            <li><a href="//www.supersod.com/diy/tag/video">Turf How-To Videos</a></li>
          </ul>
          <h3>Questions? Contact Us</h3>
          <hr>
          <p>Call Us Toll Free: <br><a onmousedown="ga('send', 'event', 'call', 'mousedown', 'homepage toll free');" href="tel:+1-888-360-1125">1-888-360-1125</a></p>
          <p><a class="button button--tertiary" href="//www.supersod.com/contact-information/">Look Up Your Local Store</a></p>

        </div><!--end widget-span -->
        <div class="flex__item col-3 col-6--tablet-only footer__col--related-products footer__col">

          <h3>Related Products</h3>
          <hr>
          <ul>
            <li><a href="//www.soil3.com/" target="_blank">Soil3</a></li>
            <li><a href="https://www.supersod.com/products/drivable-grass/drivable-grass">Drivable Grass</a></li>
            <li><a href="https://www.supersod.com/products/husqvarna-automower">Automower® Robotic Lawn Mower</a></li>
            <li><a href="https://www.supersod.com/seeding-sodding-specifications">Specifications</a></li>
          </ul>
          <h3>Customer Information</h3>
          <hr>
          <ul>
            <li><a href="//sod.supersod.com/cart/">Checkout</a></li>
            <li><a href="//sod.supersod.com/account/login">My Account</a></li>
            <li><a href="//www.supersod.com/privacy-policy/">Privacy Policy</a></li>
          </ul>

        </div><!--end widget-span -->
      </div><!--end row-->

    </div>
  </section>
  
  {% if section.blocks > 0 or section.settings.show_payment_icon %}
  <section class="footer__ecom-icons-row">
    <div class="container">
      <div class="flex flex--row flex--wrap">
        {% if section.blocks > 0 %}
        <div class="flex__item col-6">
          <ul class="badge-list">
            {% for block in section.blocks %}
            <li class="badge-list__item">
              {%- if block.settings.badge_url != blank -%}
              <a href="{{block.settings.badge_url}}"{% if block.settings.badge_alt != blank %} title="{{block.settings.badge_alt}}"{% endif %}>
                {%- endif -%}
                {%- if block.settings.badge_image != blank -%}
                <img src="{{block.settings.badge_image | img_url: 'master'}}"
                     {% if block.settings.badge_image_2x != blank %} srcset="{{block.settings.badge_image_2x | img_url: 'master'}} 2x"{% endif %}
                     {% if block.settings.badge_alt != blank %} alt="{{block.settings.badge_alt}}"{% endif %} loading="lazy">
                {%- endif -%}
                {%- if block.settings.badge_url != blank -%}
              </a>
              {%- endif -%}
            </li>
            {% endfor %}
          </ul>
        </div>
        {%- endif -%}
        {%- if section.settings.show_payment_icons -%}
        {%- unless shop.enabled_payment_types == empty -%}
        <div class="flex__item col-6 text-right--tablet text-right--desktop">
          <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
          <ul class="list--inline payment-icons">
            {%- for type in shop.enabled_payment_types -%}
            <li>
              {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
            </li>
            {%- endfor -%}
          </ul>
        </div>
        {%- endunless -%}
        {%- endif -%}
      </div>
    </div>
  </section>
  {% endif %}
  
  <section class="footer__bottom-row text-center">
	<div class="container copyright">
      Copyright © 2021 Patten Seed Co. 
      <a href="//www.supersod.com/privacy-policy/">Privacy Policy</a>.
      <a href="https://shop.supersod.com/55488970961/policies/terms-of-service.html">Terms of Service</a>.
      <a href="https://shop.supersod.com/55488970961/policies/refund-policy.html">Refund Policy</a>.
    </div>
  </section>
</footer>


{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 7,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "da": "Vis betalingsikoner",
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fi": "Näytä maksukuvakkeet",
        "fr": "Afficher les icônes de paiement",
        "hi": "भुगतान आइकन दिखाएं",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "ko": "결제 아이콘 표시",
        "nb": "Vis betalingsikoner",
        "nl": "Betalingspictogrammen weergeven",
        "pt-BR": "Exibir ícones de pagamento",
        "pt-PT": "Mostrar ícones de pagamento",
        "sv": "Visa betalningsikoner",
        "th": "แสดงไอคอนการชำระเงิน",
        "zh-CN": "显示付款图标",
        "zh-TW": "顯示付款圖示"
      },
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "badge",
      "name": {
        "en": "Badge",
        "es": "Sello"
      },
      "settings": [
        {
          "id": "badge_alt",
          "type": "text",
          "label": {
            "en": "Badge alt text",
            "es": "Texto alternativo del sello"
          }
        },
        {
          "id": "badge_url",
          "type": "url",
          "label": {
            "en": "Badge link",
            "es": "Enlace del sello"
          }
        },
        {
          "id": "badge_image",
          "type": "image_picker",
          "label": {
            "en": "Badge image",
            "es": "Imagen del sello"
          }
        },
        {
          "id": "badge_image_2x",
          "type": "image_picker",
          "label": {
            "en": "Badge image (2x)",
            "es": "Imagen del sello (2x)"
          }
        }
      ]
    }
  ]
}
{% endschema %}
